{% extends "base.html" %}

{% block title %}{{ entity_name }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('entity_base.static', filename='css/entity_base/eb_info.css') }}">
{% endblock %}

{% block home_active %}
    <li>
{% endblock %}

{% block page_content %}
    <div class="container entity">
        <div class="entity-header">
            <h2 class="entity-title" id="entity_name">{{ entity_name }}</h2>
        </div>
        <hr/>
        <div class="entity-body panel-group" id="entity-bodies">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#entities">
                            按实体浏览
                        </a>
                    </h4>
                </div>
                <div id="entities" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if entities %}
                            {% for entity in entities %}
                                <a class="btn btn-info" href="{{ url_for('entity_base.eb_info', entity_name='{{ entity }}') }}" role="button">{{ entity }}</a>
                            {% endfor %}
                        {% else %}
                            暂无相关实体
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#relations">
                            按关系浏览
                        </a>
                    </h4>
                </div>
                <div id="relations" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if relations %}
                            {% for relation in relations %}
                                <a class="btn btn-info" onclick="filterByRelation(this.innerHTML)" role="button">{{ relation }}</a>
                            {% endfor %}
                        {% else %}
                            暂无相关关系
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#attributes">
                            按属性浏览
                        </a>
                    </h4>
                </div>
                <div id="attributes" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="entity-attribute panel-group" id="entity-attributes">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#text-attributes">
                                            文字属性
                                        </a>
                                    </h4>
                                </div>
                                <div id="text-attributes" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    {% if text_attrs %}
                                        {% for attr in text_attrs %}
                                            <a class="btn btn-info" href="#" role="button">{{ attr }}</a>
                                        {% endfor %}
                                    {% else %}
                                        暂无相关文字属性
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#pic-attributes">
                                            图片属性
                                        </a>
                                    </h4>
                                </div>
                                <div id="pic-attributes" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    {% if pic_attrs %}
                                        {% for attr in pic_attrs %}
                                            <a class="btn btn-info" href="#" role="button">{{ attr }}</a>
                                        {% endfor %}
                                    {% else %}
                                        暂无相关图片属性
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#video-attributes">
                                            视频属性
                                        </a>
                                    </h4>
                                </div>
                                <div id="video-attributes" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    {% if video_attrs %}
                                        {% for attr in video_attrs %}
                                            <a class="btn btn-info" href="#" role="button">{{ attr }}</a>
                                        {% endfor %}
                                    {% else %}
                                        暂无相关视频属性
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#graphs">
                            按关系图浏览
                        </a>
                    </h4>
                </div>
                <div id="graphs" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="graph-container" class="graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/sigma.core.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/conrad.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/utils/sigma.utils.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/utils/sigma.polyfills.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/sigma.settings.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.dispatcher.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.configurable.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.graph.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.camera.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.quad.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/classes/sigma.classes.edgequad.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/captors/sigma.captors.mouse.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/captors/sigma.captors.touch.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/sigma.renderers.canvas.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/sigma.renderers.webgl.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/sigma.renderers.svg.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/sigma.renderers.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/webgl/sigma.webgl.nodes.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/webgl/sigma.webgl.nodes.fast.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/webgl/sigma.webgl.edges.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/webgl/sigma.webgl.edges.fast.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.labels.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.hovers.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.nodes.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edges.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edges.curve.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edges.arrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curve.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/canvas/sigma.canvas.extremities.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.utils.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.nodes.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.edges.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.edges.curve.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.labels.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/renderers/svg/sigma.svg.hovers.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/middlewares/sigma.middlewares.rescale.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/middlewares/sigma.middlewares.copy.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/misc/sigma.misc.animation.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/misc/sigma.misc.bindEvents.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/misc/sigma.misc.bindDOMEvents.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/src/misc/sigma.misc.drawHovers.js') }}"></script>

    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.parsers.json/sigma.parsers.json.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.renderers.edgeLabels/settings.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.plugins.animate/sigma.plugins.animate.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.layout.forceAtlas2/worker.js') }}"></script>
    <script src="{{ url_for('entity_base.static', filename='sigmajs/plugins/sigma.layout.forceAtlas2/supervisor.js') }}"></script>

    <script src="{{ url_for('entity_base.static', filename='sigmajs/graph_util.js') }}"></script>

    <script>
        createGraphVisualization({{ data | tojson | safe }}, 'graph-container', null);

        function filterByRelation(relation_name) {
            $('#graph-container').empty();
            createGraphVisualization({{ data | tojson | safe }}, 'graph-container', relation_name);
        }
    </script>
{% endblock %}