{% extends "base.html" %}

{% block title %}关系搜索{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('relation_search.static', filename='css/relation_search/rs_base.css') }}">
{% endblock %}

{% block home_active %}
    <li>
{% endblock %}

{% block relation_search_active %}
    <li class="active">
{% endblock %}

{% block page_content %}
    <div class="container" id="rs_board">
        <div class="jumbotron">
            <div class="board-head">
                <h1>关系搜索</h1>
            </div>
            <div class="board-body">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <label for="entity1">实体1</label>
                        <input type="text" class="form-control" id="entity1" placeholder="实体名1">
                    </div>
                    <div class="col-md-3">
                        <label for="entity2">实体2</label>
                        <input type="text" class="form-control" id="entity2" placeholder="实体名2">
                    </div>
                    <div class="col-md-2">
                        <label for="level">层数</label>
                        <select class="form-control" id="level">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>大于6</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="searchBtn">&nbsp;</label>
                        <p><button type="button" class="btn btn-success" id="searchBtn">搜索一下</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}