{% extends "bootstrap/base.html" %}

{% block title %}CU-KG{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/base.css') }}">
{% endblock %}

{% block navbar %}
    <div class="container">
        <div class="masthead">
            <div class="headers">
                <h3 class="text-muted">CU-KG</h3>
                <div class="btn-group actions" role="group">
                    {% if current_user.is_authenticated() %}
                    <a class="btn btn-success" href="#">{{ current_user.username }} 的用户空间</a>
                    <a class="btn btn-default" href="{{ url_for('auth.logout') }}">注销</a>
                    {% else %}
                    <a class="btn btn-success" href="{{ url_for('auth.login') }}">登录</a>
                    <a class="btn btn-default">注册</a>
                    {% endif %}
                </div>
            </div>
            <nav>
                <ul class="nav nav-justified">
                    {% block home_active %}
                    <li class="active">
                    {% endblock %}
                        <a href="{{ url_for('home.index') }}">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;
                            首页
                        </a>
                    </li>
                    {% block entity_base_active %}
                    <li>
                    {% endblock %}
                        <a href="{{ url_for('entity_base.eb_base') }}">
                            <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                            实体库
                        </a>
                    </li>
                    {% block relation_search_active %}
                    <li>
                    {% endblock %}
                        <a href="{{ url_for('relation_search.rs_base') }}">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;
                            关系搜索
                        </a>
                    </li>
                    {% block relation_model_active %}
                    <li>
                    {% endblock %}
                        <a href="#">
                            <span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;
                            关系建模
                        </a>
                    </li>
                    {% block control_board_active %}
                    <li>
                    {% endblock %}
                        <a href="{{ url_for('control_board.cb_base') }}">
                            <span class="glyphicon glyphicon-cog"></span>&nbsp;
                            控制台
                        </a>
                    </li>
                    {% block about_active %}
                    <li>
                    {% endblock %}
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                            关于
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}